# Ignore environment variables
/.env

# Ignore SSL Keys
/web/ssl/*

# Ignore database
/database

# Ignore placeholder
/.gitignore

.terraform.lock.hcl
.terraform/
network-security-plan.tfplan
/terraform/terraform.tfstate
/terraform/terraform.tfstate.*
/terraform/compute/gym-app-bastion-key.pem
